# Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Data

In [5]:
df = pd.read_csv("kaggle_train_set.csv")
df.head()

,OverallQual,GrLivArea,TotalBsmtSF,1stFlrSF,YearBuilt,YearRemodAdd,GarageCars,GarageArea,FullBath,TotRmsAbvGrd,KitchenQual,Fireplaces,LotArea,Neighborhood,ExterQual,SalePrice
0,7,1710,856,856,2003,2003,2,548,2,8,Gd,0,8450,CollgCr,Gd,208500
1,6,1262,1262,1262,1976,1976,2,460,2,6,TA,1,9600,Veenker,TA,181500
2,7,1786,920,920,2001,2002,2,608,2,6,Gd,1,11250,CollgCr,Gd,223500
3,8,1694,1686,1694,2004,2005,2,636,2,7,Gd,1,10084,Somerst,Gd,307000
4,7,1774,952,1022,1931,1950,2,468,2,8,TA,2,6120,OldTown,TA,129900

# Exploratory Data Analysis - EDA

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1180 entries, 0 to 1179
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OverallQual   1180 non-null   int64
 1   GrLivArea     1180 non-null   int64
 2   TotalBsmtSF   1180 non-null   int64
 3   1stFlrSF      1180 non-null   int64
 4   YearBuilt     1180 non-null   int64
 5   YearRemodAdd  1180 non-null   int64
 6   GarageCars    1180 non-null   int64
 7   GarageArea    1180 non-null   int64
 8   FullBath      1180 non-null   int64
 9   TotRmsAbvGrd  1180 non-null   int64
 10  KitchenQual   1180 non-null   object
 11  Fireplaces    1180 non-null   int64
 12  LotArea       1180 non-null   int64
 13  Neighborhood  1180 non-null   object
 14  ExterQual     1180 non-null   object
 15  SalePrice     1180 non-null   int64
dtypes: int64(13), object(3)
memory usage: 147.6+ KB

In [7]:
df.nunique()

OverallQual      10
GrLivArea       761
TotalBsmtSF     638
1stFlrSF        666
YearBuilt       110
YearRemodAdd     61
GarageCars        5
GarageArea      390
FullBath          4
TotRmsAbvGrd     12
KitchenQual       4
Fireplaces        4
LotArea         882
Neighborhood     25
ExterQual         4
SalePrice       591
dtype: int64